h1{
    color: #00b39b;
    font-family: 'Work Sans', sans-serif;
}  
.parag p{
    font-family: 'Roboto', sans-serif;
}      

/* *****section 3********************* */
.tailleIcon{
    width: 10rem;
}
.tailleIconGip{
    width: 3rem;
}
.tailleIconTuo{
    width: 7rem;
}