h1, h4{
    color: #00b39b;
    font-family: 'Work Sans', sans-serif;
}  
.parag p{
    font-family: 'Roboto', sans-serif;
}      

/* *****section 3********************* */
.tailleIcon{
    width: 10rem;
}
.tailleIconGip{
    width: 3rem;
}
.tailleIconTuo{
    width: 7rem;
}

/* *********section 4**************** */
.section4{
    background-color: #c7f1f3;
}
.logoPng{
    content: "";
    top: 45%;
    width: 456px;
    height: 435px;
    pointer-events: none;
}
